/**************************************************
说明：
1：我们建议你通过只改变css的方式来制作新的皮肤模板。当然，页面的部分代
码你也是可以更改的，例如一些图片的地址。但是，请你在递交作品的时候，请同时
提交对页面部分代码的修改备注和说明。以便我们了解。
2：为了保证页面的兼容性，请你分别在IE和Firefox中分别查看你的页面，以便保证页面
对浏览器的兼容性。
3：请你随时关注官方网站。以便获得最新的通知和说明
时间：2008-1-30
作者：杨正祎
**************************************************/
/**************************************************
第一部分：所有的模板都使用的公共样式。公告样式是为了更好的向前和向后兼容。
如果不符合你皮肤的要求，你可以在后面通过更高的优先级覆盖着这些样式，但是
你不能删除这些样式。
**************************************************/
#EntryTag {
	margin-top: 20px;
	font-size: 9pt;
	color: gray;
}

.topicListFooter {
	text-align: right;
	margin-right: 10px;
	margin-top: 10px;
	text-shadow: 1px 1px 0px #fff;
	color: #000;
}

#divRefreshComments {
	text-align: right;
	margin-right: 10px;
	margin-bottom: 5px;
	font-size: 9pt;
}

/*****第一部分结束*******************************/
/**************************************************
第二部：公共样式（全局样式）。公共会对所有页面的标签都起作用。这个部分你
可以随意的更改，并不会牵扯到其他的皮肤模板。但是每次更改都要注意你的皮肤
模板所有页面的变化。因为它们是全局的。
**************************************************/
* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	color: #000;
	background: #D2D8DE;
	font: 12px/1.5 tahoma, arial, sans-serif;
	/*font-family: Tahoma,Arial,Helvetica,STHeiti*/;
	min-height: 101%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img {
	border: 0;
}

ul {
	word-break: break-all;
}

li {
	list-style: none;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

a:link {
	color: #444;
	text-decoration: none;
}

a:visited {
	color: #444;
	text-decoration: none;
}

a:hover {
	color: #F60;
	text-decoration: underline;
}

a:active {
	color: #444;
	text-decoration: none;
}

.clear {
	clear: both;
}

/*****第二部分结束*******************************/
/**************************************************
第三部分：各个页面元素的样式。你可以根据需要随意的更改，并不会牵扯到其他
的皮肤模板。这个部分是最能展现你想象力的部分。其中头部和侧边栏部分是此皮
肤公共的部分。而每个页面特有的部分会有相应的注释和说明。
**************************************************/
/*****home和头部开始**************************/
#home {
	
}

#header {
	background: #103858;
}

#blogTitle {
	height: 60px;
	clear: both;
	width: 1000px;
	margin: 0 auto;
}

#blogTitle h1 {
	font-weight: bold;
	font-size: 2em;
	line-height: 2em;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}

#blogTitle h1 a {
	color: #fff;
	text-shadow: 0px 0px 5px #fff;
	text-decoration: none;
}

#blogTitle h2 {
	color: #A3B2BE;
	margin-left: 1em;
	margin-top: 30px;
	line-height: 1.5em;
	width: 50%;
	float: left;
}

#blogLogo {
	float: right;
}

#navigator {
	height: 30px;
	clear: both;
	width: 1000px;
	margin: 0 auto;
}

#navList {
	min-height: 30px;
	float: left;
	margin-left: 65px;
}

#navList li {
	float: left;
}

#navList a {
	position: relative;
	font-weight: bolder;
	display: block;
	height: 22px;
	float: left;
	text-align: center;
	padding: .05em 1em;
	font-size: 1.3em;
}

#navList  .aHeaderXML {
	display: none;
}

#navList a:link,#navList a:visited,#navList a:active {
	color: #A3B2BE;
}

#navList a:hover {
	color: white;
	text-decoration: none;
	text-shadow: 0px 0px 3px #fff;
}

#navList a:hover:after {
	position: absolute;
	bottom: -20px;
	left: 37%;
	content: "◆";
	color: #D2D8DE;
	text-shadow: none;
}

.blogStats {
	float: right;
	color: #A3B2BE;
	margin-top: 8px;
	margin-right: 2px;
	text-align: right;
}

/*****home和头部结束**************************/
/*****主页文章列表开始**************************/
#main {
	width: 1000px;
	margin: 20px auto 0;
}

#main:after {
	content: "";
	clear: both;
}

#mainContent .forFlow {
	float: none;
	width: auto;
}

#mainContent {
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
	float: left;
	width: 740px;
}

.day {
	color: #666;
	border-radius: 7px 7px 7px 7px;
	box-shadow: 1px 1px 2px #A7A8AD;
	background: #fff;
	min-height: 10px;
	_height: 10px;
	margin: 0px 5px 20px 80px;
	padding: 5px 5px 5px 15px;
	position: relative;
	border-radius: 7px 7px 7px 7px;
}

.day:after {
	content: "◆";
	color: #fff;
	font-size: 30px;
	position: absolute;
	left: -14px;
	top: 15px;
}

.dayTitle {
	width: 64px;
	height: 64px;
	color: #666;
	font-weight: bold;
	line-height: 1.5em;
	font-size: 110%;
	clear: both;
	text-align: right;
	position: absolute;
	left: -80px;
	top: 20px;
	background: #fff;
	border-radius: 7px 7px 7px 7px;
	box-shadow: 1px 1px 2px #A7A8AD;
	text-shadow: 0px 0px 2px #A7A8AD;
	text-indent: 9px;;
}

.postTitle {
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.5em;
	width: 100%;
	clear: both;
}

.postTitle a:link,.postTitle a:visited,.postTitle a:active {
	color: #444;
}

.postTitle a:hover {
	color: #F60;
	text-decoration: none;
}

.postCon {
	width: 100%;
	clear: both;
	padding: 10px 0;
	text-indent: 2em;
}

.postDesc {
	float: right;
	width: 100%;
	clear: both;
	text-align: right;
	padding-right: 5px;
	color: #A8B1BA;
	margin-top: 5px;
}

.postDesc a:link,.postDesc a:visited,.postDesc a:active {
	color: #666;
}

.postDesc a:hover {
	color: #F60;
	text-decoration: none;
}

.postSeparator {
	clear: both;
	height: 1px;
	border-top: 1px dotted #666;
	width: 100%;
	clear: both;
	float: right;
	margin: 0 auto 15px auto;
}

/*****主页文章列表开始**************************/
/*****侧边栏开始********************************/
#sideBar {
	color: #A8B1BA;
	width: 250px;
	min-height: 200px;
	float: right;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
	width: 250px;
}

#sideBar a:link,#sideBar a:visited,#sideBar a:active {
	color: #567286;
}

#sideBar a:hover {
	color: #F60;
	text-decoration: none;
}

.newsItem {
	border-radius: 7px 7px 7px 7px;
	box-shadow: 1px 1px 2px #A7A8AD;
	background: #FaFcFd;
	margin: 0px 5px 20px;
	padding: 5px;
	text-indent: 2em;
}

.newsItem .catListTitle {
	display: none;
}

.catListTitle {
	color: #fff;
	font-size: 1.2em;
	border-bottom: 1px solid #DADFE1;
	height: 1.5em;
	line-height: 1.5em;
	background: #2EB1E8;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	padding: 5px;
	text-indent: 1em;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

/**日历控件样式开始**/
#calendar {
	border-radius: 7px 7px 7px 7px;
	box-shadow: 1px 1px 2px #A7A8AD;
	background: #FaFcFd;
	margin: 20px 5px;
}

#calendar .Cal {
	width: 96%;
	line-height: 1.5em;
	border: none;
	color: #666;
	margin: 2%;
}

#calendar table a:link,#calendar table a:visited,#calendar table a:active
	{
	font-weight: bold;
}

#calendar table a:hover {
	color: white;
	text-decoration: none;
	background-color: #F60;
}

.CalTodayDay { /**今天日期样式**/
	color: #f60;
}

#calendar .CalNextPrev a:link,#calendar  .CalNextPrev a:visited,#calendar .CalNextPrev a:active
	{ /**上个月、下个月箭头样式**/
	font-weight: bold;
}

.CalDayHeader {
	border-bottom: 1px solid #ccc;
}

.CalTitle { /**日历年月头部样式**/
	width: 100%;
	color: black;
	border-bottom: 1px solid #666;
}

.divRecentComment {
	text-indent: 2em;
	color: #666;
}

#sideBarMain ul {
	line-height: 1.5em;
}

.catListEssay,.catListLink,.catListNoteBook,.catListNoteBook,.catListTag,.catListPostCategory,.catListPostArchive,.catListArticleArchive,.catListImageCategory,.mySearch,.catListComment,.catListView,.catListFeedback
	{
	border-radius: 7px 7px 7px 7px;
	box-shadow: 1px 1px 2px #A7A8AD;
	background: #FaFcFd;
	margin: 20px 5px;
}

.catListEssay ul,.catListLink ul,.catListNoteBook ul,.catListNoteBook ul,.catListTag ul,.catListPostCategory ul,.catListPostArchive ul,.catListArticleArchive ul,.catListImageCategory ul,.mySearch ul,.catListComment ul,.catListView ul,.catListFeedback ul
	{
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

.catListEssay ul li,.catListLink ul li,.catListNoteBook ul li,.catListNoteBook ul li,.catListTag ul li,.catListPostCategory ul li,.catListPostArchive ul li,.catListArticleArchive ul li,.catListImageCategory ul li,.mySearch ul li,.catListComment ul li,.catListView ul li,.catListFeedback ul li
	{
	border-bottom: 1px solid #DADFE1;
	border-top: 1px solid #fff;
	overflow: hidden;
	padding: 5px;
}

.catListComment .divRecentCommentAticle {
	padding: 5px;
	border-bottom: 1px solid #DADFE1;
	border-top: 1px solid #fff;
	line-height: 1.5em;
}

.catListComment .divRecentComment {
	display: none;
}

/*****侧边栏结束********************************/
/****查看文章页面开始*************************/
#topics {
	background: #fff;
	border-radius: 7px 7px 7px 7px;
	box-shadow: 1px 1px 2px #A7A8AD;
	min-height: 200px;
	padding: 0px 0px 10px 0;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
	padding: 5px;
	margin: 0px 5px 20px 0px;
}

#topics .postTitle {
	text-align: center;
	width: 100%;
}

#topics .postTitle a {
	font-size: 1.5em;
	font-weight: bold;
	color: #2EB1E8;
	text-shadow: 0 0 1px #A7A8AD;
	line-height: 1.5em;
}

.postBody {
	padding: 5px;
	line-height: 1.5;
	color: #444;
}

#EntryTag a {
	margin-left: 5px;
}

#EntryTag a:link,#EntryTag a:visited,#EntryTag a:active {
	color: #666;
}

#EntryTag a:hover {
	color: #f60;
}

#topics .postDesc {
	width: 100%;
	text-align: right;
	padding-right: 5px;
	margin-top: 5px;
}

#AjaxHolder_UpdatePanel1 {
	background: #fff;
	border-radius: 7px 7px 7px 7px;
	box-shadow: 1px 1px 2px #A7A8AD;
	margin: 0px 5px 10px 0px;
	padding: 5px;
}

.feedback_area_title {
	display: none;
}

.louzhu {
	
}

.feedbackListSubtitle {
	color: #666;
	border-top: 1px dashed #eee;
	padding-top: 10px;
}

.feedbackListSubtitle a:link,.feedbackListSubtitle a:visited,.feedbackListSubtitle a:active
	{
	color: #666;
	font-weight: normal;
}

.feedbackListSubtitle a:hover {
	color: #f60;
	text-decoration: none;
}

.feedbackManage {
	width: 200px;
	text-align: right;
	float: right;
}

.feedbackCon {
	margin: 30px;
	margin-top: 10px;
	position: relative;
}

.feedbackCon:after {
	bottom: -46px;
	color: #CCCCCC;
	content: "”";
	font-family: "黑体";
	font-size: 47px;
	font-weight: bold;
	position: absolute;
	right: -42px;
}

.feedbackCon:before {
	color: #CCCCCC;
	content: "“";
	font-family: "黑体";
	font-size: 47px;
	font-weight: bold;
	left: -43px;
	position: absolute;
	top: -20px;
}

#divRefreshComments {
	text-align: right;
	margin-bottom: 20px;
	text-shadow: 1px 1px 0px #fff;
}

.commentform {
	background: #fff;
	border-radius: 7px 7px 7px 7px;
	box-shadow: 1px 1px 2px #A7A8AD;
	margin: 0px 5px 10px 0px;
	padding: 5px;
}

#AjaxHolder_PostComment_divCommnentArea table tbody tr {
	width: 100%;
	padding: 5px;
}

.commenttb {
	width: 320px;
}

/****查看文章页面开始*************************/
/****列表页面开始******************************/
.entrylistTitle,.PostListTitle,.thumbTitle { /**几个分类列表的标题样式**/
	display:none;
}

#myposts,.entrylist,.gallery,#profile {
	background: #fff;
	border-radius: 7px 7px 7px 7px;
	box-shadow: 1px 1px 2px #A7A8AD;
	margin: 0px 5px 10px 0px;
	padding: 5px;
}

.entrylistDescription {
	color: #666;
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	margin-bottom: 10px;
}

.entrylistItem {
	min-height: 20px;
	_height: 20px;
	margin-bottom: 30px;
	padding-bottom: 5px;
	width: 100%;
}

.entrylistPosttitle {
	font-size: 110%;
	font-weight: bold;
	border-bottom: 1px solid #666;
	line-height: 1.5em;
	padding-left: 5px;
}

.entrylistPosttitle a:hover {
	text-decoration: none;
}

.entrylistPostSummary {
	margin-top: 5px;
	padding-left: 5px;
	margin-bottom: 5px;
}

.entrylistItemPostDesc {
	text-align: right;
	color: #666;
}

.entrylistItemPostDesc a:link,.entrylistItemPostDesc a:visited,.entrylistItemPostDesc a:active
	{
	color: #666;
}

.entrylistItemPostDesc a:hover {
	color: #f60;
}

.entrylist .postSeparator {
	clear: both;
	width: 100%;
	font-size: 0;
	line-height: 0;
	margin: 0;
	padding: 0;
	height: 0;
	border: none;
}

.pager {
	text-align: right;
	margin-right: 10px;
}

.PostList {
	border-bottom: 1px solid #DADFE1;
    border-top: 1px solid #FFFFFF;
    overflow: hidden;
    padding: 5px;
    color:#999;
}


.pfl_feedback_area_title {
	text-align: right;
	line-height: 1.5em;
	font-weight: bold;
	border-bottom: 1px solid #666;
	margin-bottom: 10px;
}

.pfl_feedbackItem {
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}

.pfl_feedbacksubtitle {
	width: 100%;
	border-bottom: 1px dotted #666;
	height: 1.5em;
}

.pfl_feedbackname {
	float: left;
}

.pfl_feedbackManage {
	float: right;
}

.pfl_feedbackCon {
	color: black;
	padding-top: 5px;
	padding-bottom: 5px;
}

.pfl_feedbackAnswer {
	color: #F40;
	text-indent: 2em;
}

.tdSentMessage {
	text-align: right;
}

.errorMessage {
	width: 300px;
	float: left;
}

.mySearch div {
	padding: 5px;
}

.mySearch #q {
	height: 1.4em;
	width: 175px;
}

/****列表页面结束******************************/
/****相册页面开始******************************/
.divPhoto {
	border: 1px solid #ccc;
	padding: 2px;
	margin-right: 10px;
}

.thumbDescription {
	color: #666;
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	margin-bottom: 10px;
}

/****相册页面开始******************************/
/*****留言页面开始*****************************/
#footer {
	text-align: center;
	min-height: 15px;
	_height: 15px;
	margin-top: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
	text-shadow: 1px 1px 0px #fff;
}

/*留言查看页面的个人信息*/
.personInfo {
	margin-bottom: 20px;
}

/*留言分页区域*/
.pages {
	text-align: right;
}

/*****留言页面结束*****************************/
/*****第三部分结束*******************************/
/**************************************************
第四部分：文章内容常用标签格式。这个部分是设置作者写作内容的部分。例如：
如果作者的文章用有p标签，则可通过这个对这些文章中的p标签进行设置。前面
的“.postBody”明确的指出了这里样式的作用范围。仅仅适用于文章主体部分。
建议这个不要设置过于详细的细节。因为，一些样式，一篇文章比较适合的话，
并不能保证所有的文章都适合。
**************************************************/
/*文章内部常用标签格式*/
.postBody {
	line-height: 1.5em;
}

.postBody p,.postCon  p {
	text-indent: 2em;
	margin: 0 auto 1em auto;
}

.postBody h2 {
	font-size: 150%;
	margin: 15px auto 2px auto;
	font-weight: bold;
}

.postBody h3 {
	font-size: 120%;
	margin: 15px auto 2px auto;
	font-weight: bold;
}

.postBody h4 {
	font-size: 110%;
	margin: 15px auto 2px auto;
	font-weight: bold;
	color: #333;
}

.postBody h5 {
	font-size: 100%;
	margin: 15px auto 2px auto;
	font-weight: bold;
	color: #333;
}

.postBody a:link,.postBody a:visited,.postBody a:active {
	text-decoration: underline;
}

.postCon a:link,.postCon a:visited,.postCon a:active {
	text-decoration: underline;
}

.postBody ul,.postCon ul {
	margin-left: 2em;
}

.postBody li,.postCon li {
	list-style-type: disc;
	margin-bottom: 1em;
}

.postBody blockquote {
	background: url('images/comment.gif') no-repeat 25px 0px;
	padding: 10px 60px 5px 60px;
	min-height: 35px;
	_height: 35px;
	line-height: 1.6em;
	color: #333;
}
/*****第四部分结束*******************************/

#green_channel{width:auto;}