@import url("../../../css/common.css");

.pub_footerall{border-top:none !important;}
.nav_top_2011{margin-bottom:0 !important;}
body{background:url(../images/body_bg.gif) repeat-x 0 10px; color:#333; text-align:center;font-size:12px;font-family:Arial,Console,Verdana,Courier New;}
a{color:#369; text-decoration:none;}
a:hover{text-decoration:none;color:#200;}

#container{background:url(../images/head_bg.jpg) no-repeat center top;}

/* header style */
#header{width:980px; height:30px; margin:0 auto; padding:50px 0 0 0; text-align:left;}
.header{}
#blog_title{}
#blog_title h1{display:inline-block; float:left; margin:0 20px 0 0; color:#fff; font:bold 30px/30px 'Microsoft YaHei';}
#blog_title h2{display:inline-block; float:left; padding:2px 0 0 0; color:#fff; font:normal 18px/30px  'Microsoft YaHei';}
#blog_title a{color:#fff;}
#blog_title a:hover{color:#def;text-decoration:none;}
/* navigator style */
#navigator{display:block; *display:inline-block; clear:both; width:980px; height:42px; margin:0 auto; padding:22px 0 0 0; text-align:left;}
.navigator{text-align:right;}
.navigator:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
	.navigator ul{float:right;}
	.navigator li{display:inline; float:left; margin:0 5px;}
	.navigator li a{display:inline-block; height:26px; padding:0 0 0 10px; color:#666; background:url(../../../images/btn_pub_nav.gif) no-repeat left 0; font:normal 12px/26px Arial, Helvetica, sans-serif; text-decoration:none; cursor:pointer;}
	.navigator li a span{display:inline-block; height:16px; padding:5px 10px 5px 0; background:url(../../../images/btn_pub_nav.gif) no-repeat right -26px; line-height:16px;}
	.navigator li a span img{margin:0 4px 0 0; vertical-align:middle;}

/* body style */
#body{display:block; *display:inline-block; width:960px; margin:0 auto; padding:9px; border:solid 1px #ddd; background:#fff; -webkit-border-radius:8px; -moz-border-radius:8px; -khtml-border-radius:8px; border-radius:8px; /*-moz-box-shadow:0 0 10px #333; -webkit-box-shadow:0 0 10px #333;*/ text-align:left;}
#body:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}

/* box title style */
.panel_head { clear: both; height: 30px; padding: 0 10px; border-radius:4px; background: url(../images/tit_bg.gif) repeat-x top; color: #333; font: bold 12px/30px Arial; text-indent: 5px; }
.panel{margin:0 0 10px 0; padding:7px; border:solid 1px #ddd; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -khtml-border-radius:5px;}
.side .panel_body{padding:4px 5px;}
.panel_body li{color:#666;margin:8px 0px;}
.panel_body li span{}
.panel_body li a{/*color:#ff2a00;*/}

#main{float:right; width:734px; overflow:hidden; padding:7px; border:solid 1px #ddd; border-radius:4px;}

.notice{margin:10px 2px; padding:2px 4px 2px 20px; border:dashed 1px #f8cc7e; background:#fffce7 url(../../../images/ico_notice.png) no-repeat 5px center; _background:#fffce7 url(../../../images/ico_notice.gif) no-repeat 5px center; font:normal 12px/22px Arial;}
.notice a{color:#ff5a00;}

/* article style */
.list_item{display:block; *display:inline-block; clear:both; background:url(../images/line_1.gif) repeat-x bottom;}
.list_item:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.list{margin:20px 20px 0 20px;}

	/* title style on list */
	.article_title{display:block; margin:5px 0px; color:#000; font:normal 20px/30px  'Microsoft YaHei';}
	.article_title:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
	.article_title a{color:#000;}
	.article_title a:hover{color:#666;}
	
	/* article type icon */
	.article_title .ico{display:inline-block; width:19px; height:19px; margin:0 2px 0 0;}
	.article_title .ico_type_Original{background:url(../../../images/ico_Original.gif) no-repeat 0 0; vertical-align:middle;}/* 原创icon */
	.article_title .ico_type_Repost{background:url(../../../images/ico_Repost.gif) no-repeat 0 0; vertical-align:middle;}/* 转载icon */
	.article_title .ico_type_Translated{background:url(../../../images/ico_Translated.gif) no-repeat 0 0; vertical-align:middle;}/* 转载icon */
	
	/* article title */
	.article_title h3{display:inline; font:normal 20px/30px  'Microsoft YaHei'; vertical-align:middle;}
	
	/* article summary */
	.article_description{color:#666; font:normal 14px/24px Arial;}
	
	/* article control area */
	.article_manage{padding:5px 0; color:#999; font:normal 12px/24px Arial; text-align:right;}
	.article_manage span{margin:0 5px;}
	/*.article_manage a{color:#ff2a00;}*/
	.article_manage .link_postdate{margin:0 5px 0 0;}
	.article_manage .link_view{padding:0 0 0 14px; background:url(../../../images/ico_view.png) no-repeat left center; _background:url(../../../images/ico_view.gif) no-repeat left center;}
	.article_manage .link_comments{padding:0 0 0 14px; background:url(../../../images/ico_comm.png) no-repeat left center; _background:url(../../../images/ico_comm.gif) no-repeat left center;}
	.article_manage .link_categories{float:left;}
	/* article list view */
	.list_view{margin:0 20px; padding:5px 0;}
	.list_view .article_title{display:inline; float:left; height:30px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; margin:0 !important; font:normal 14px/30px Arial !important;}
	.list_view .article_title:after{content:"...";}
	.list_view .article_title h3{font:normal 12px/30px Arial !important;}
	.list_view .article_manage{display:inline; float:right; padding:0 !important; line-height:30px !important; text-align:right !important; white-space:nowrap;}
	.list_view .article_description{display:none !important;}
	.list_view .article_manage span{margin:0 !important;}
	
	/* article details */
	.details{margin:20px;}
	.details .article_content{margin:20px 0 0 0;font-family:Courier New,Console,Verdana,"微软雅黑";font:normal 14px/26px Arial; }
	/* article content initialvalue style */

	.article_next_prev{display:block; *display:inline-block; color:#666; font:normal 12px/24px Arial, Helvetica, sans-serif;}
	.article_next_prev li{list-style-type:none;}
	.article_next_prev:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
	.commentform ul{margin:0px;}
	.commentform li{margin:0px;list-style-type:none;}
/* digg style */
.ico_expert{width:69px; height:60px; margin:0 auto; background:url(../../../images/ico_expert.jpg) no-repeat 0 0; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src="images/ico_expert.png");}

#digg{display:block; *display:inline-block; clear:both; width:182px; _width:188px; margin:10px auto; text-align:center;}
#digg:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
	.digg{display:inline-block; float:left; width:81px; height:61px; overflow:hidden; margin:0 5px; background:url(../images/digg_bg.gif) no-repeat 0 0; text-align:center;}
	.digg dt{margin:0px;padding:2px 0 0 0; color:#fff; font:normal 20px/36px  'Microsoft YaHei';}
	.digg dd{margin:0px;color:#f00; font:normal 12px/22px Arial;}
	.digg_enable{ background:url(../images/digg_bg.gif) no-repeat 0 0; text-align:center; cursor:pointer;}
	.digg_disable{ background:url(../images/not_digg_bg.gif) no-repeat 0 0; text-align:center; color:#666;}
	.digg_disable dd{color:#888;}
/* page navigation style */
.pagelist{clear:both; padding:15px 0; color:#666; font:normal 12px/24px Arial; text-align:center;}
.pagelist a{display:inline-block; height:22px; margin:0 2px; padding:0 8px; border:solid 1px #dbe5ee; -moz-border-radius:2px; -webkit-border-radius:2px; -khtml-border-radius:2px; border-radius:2px; background:#fff; color:#333; font:normal 12px/22px Arial, Helvetica, sans-serif; cursor:pointer;}
	.pagelist strong{display:inline-block; height:24px; margin:0 3px; padding:0 8px; border:none; -moz-border-radius:2px; -webkit-border-radius:2px; -khtml-border-radius:2px; border-radius:2px; background:#07519a; color:#fff; font-weight:normal; line-height:24px; text-decoration:none;}
	.pagelist a:hover{height:24px; margin:0 3px; border:none; background:#07519a; color:#fff; line-height:24px; text-decoration:none;}
	.pagelist a.select{cursor:default;}


#side{float:left; width:200px; overflow:hidden;line-height:120%; }
#side a{color:#369;}
#side a:hover{color:#200;}

/* personal information */
#panel_Profile{ }
#panel_Profile span{color:#333;}
	#blog_userface{margin:0 0 5px 0; padding:10px; text-align:center;}
	#blog_userface img{max-width:160px; padding:2px; border:solid 1px #ddd;}
	#blog_userface span{display:block; font-weight:bold; text-align:center;}
	#blog_medal{text-align:center;}
	
	#blog_rank{display:block; *display:inline-block; margin:5px; padding:0 0 5px 0; background:url(../images/line_1.gif) repeat-x bottom;}
	#blog_rank:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
	#blog_rank li{}
	#blog_rank li span{}
	
	#blog_statistics{display:block; *display:inline-block; margin:0 5px;}
	#blog_statistics:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
	#blog_statistics li{float:left; width:50%;margin:4px 0px;}
	#blog_statistics li span{}
	#blog_statistics li a{}

/* search */
#panel_Search{ }

	#panel_Search form{display:block; *display:inline-block; height:24px; padding:0 3px; overflow:hidden; margin-top:10px;border:solid 1px #ccc; background:url(../images/search_bg.gif) repeat-x top;}
	#panel_Search .panel_body:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
	#panel_Search .panel_body span{float:left;}
	#panel_Search .panel_body .blogsearch{width:140px; height:20px; margin:2px 5px 0 0; border:none; *border:solid 1px #fff; color:#666;}/* search input */
	#panel_Search .panel_body #btnSubmit{text-indent: -1000px;border:none;display:inline-block; width:16px; height:16px; overflow:hidden; margin:5px 0 0 0; background:url(../images/ico_sear.gif) no-repeat 0 0; line-height:999px; cursor:pointer;}/* search icon */

/* classfiy */
#panel_Category{ }

#newcomments{}
#load_comments{cursor:pointer;font-size:14px;font-family:"微软雅黑";line-height:30px;border:solid 1px #ddd;margin:5px;display:block;height:30px;text-align:center;background:url(../images/commentsbarbg.jpg) repeat-x bottom 0;}
/* archive */
#panel_Archive{}
#panel_Archive li{display:block; *display:inline-block;}
#panel_Archive li:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
/*#panel_Archive li a{color:#333;}*/
#panel_Archive .list_closed{float:right; padding:0 0 0 12px; background:url(../../../images/arrow_down.gif) no-repeat left center; color:#666; cursor:pointer;}
#panel_Archive .list_opended{float:right; padding:0 0 0 12px; background:url(../../../images/arrow_up.gif) no-repeat left center; color:#666; cursor:pointer;}
#archive_list{display:block; *display:inline-block;}
#archive_list:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}

.comment_item fieldset{padding:0 10px; border:solid 1px #ddd; background-color:#f1f1f1;color:#999;}
.comment_head,.commentform_title{border-radius:5px;clear: both; background:#f1f1f1; color:#888; padding:1px 4px; }
.comment_reply .comment_head{background-color:#ddd;}
.comment_reply{background-color:#f6f6f6;}
.newcomment{ border: 1px solid #eee; padding: 10px; line-height: 20px; margin: 5px; width: 90%; background-color: #f6f6f6; }
.commentform_title{color:#000; font-size:14px;}
.commentform .comment_btn{width:85px; height:26px; margin:10px 0 0 90px; border:none; background:url(../images/submit_bg.gif) no-repeat 0 0; color:#666; font:normal 12px/26px Arial, Helvetica, sans-serif; text-align:center;}

/* 回复声明 */
.announce{padding:15px 0 10px 131px; color:#666;}