.wf-loading { 
  /*visibility: hidden; */
}
.wf-active, .wf-inactive {
  visibility: visible; 
}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}

.clearfix:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

body {
    font: normal 18px/28px "Gentium Basic", Gentium, Palatino, Georgia, serif;
    font-family:    
    color:#444;
    padding:0;margin:0;
    background: #fff; 
}
img {
    max-width:680px;
    margin:0 auto;
}

html>body {font-size:18px; line-height:28px;}

a {
    text-decoration:none;
    color:#2760BF; 
}

a:hover {
    border-bottom: 1px dotted #444;
    color:#00252e;
}

a  img { border: 0;}
a:visited {
}

h1, h2, h3, h4 {
    font-family:"Yanone Kaffeesatz", Ubuntu, Helvetica, Arial, sans-serif;
}
h2, h3, h4 {
    border-bottom: 1px solid #eee;
    color: #444;
}

h1 {
    font-size:45px;
    line-height:50px;
}

h2 {
    font-size:32px;
    line-height:50px;
}

h3 {
    font-size:23px
    line-height:25px;
}

h4 {
    font-size:18px;
    line-height:25px;
}

h1 a, h2 a, h3 a, h4 a {
    color:#444;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
    color:#4183c4;
    text-decoration:none;
    border:none;
}

pre code, pre {
    font-family: "Ubuntu Mono", "Inconsolata", "Consolas", "Monaco", "Droid Sans Mono", "Bitstream Vera Mono", monospace;
    font-style:normal;
}

pre {
    margin:0 !important;
    padding:0 !important;
    background: #002B36 url(../img/noise.png) repeat-x !important;
}

pre code { 
    font-size: inherit;
    background:inherit;
}

code {
    font-family: "Ubuntu Mono", "Inconsolata", "Consolas", "Monaco", "Droid Sans Mono", "Bitstream Vera Mono", monospace;
    font-style:italic;
    background: #eee;
    padding: 0 2px;
}

li {
    margin-top:-6px;
}


table
{
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
	font-size: 14px;
	background: #fff;
	min-width: 380px;
	border-collapse: collapse;
    border: 1px solid #ddd;
	text-align: left;
    overflow:auto;
}
table th
{
	font-size: 16px;
    font-weight:normal;
	padding: 10px 8px 6px;
	border: 1px solid #ddd;
    background: #eee;
    
}
table td
{
	border: 1px solid #ccc;
	padding: 6px 8px;
}
table tbody tr:hover 
{
    background:#eee;
}

blockquote {
	margin: 1em 2em;
	border-left: 2px solid #999;
    font-style:oblique;
	padding-left: 1em;
}
blockquote p:first-letter {
	float: left;
	margin: .2em .1em .1em 0;
    font-family:"Yanone Kaffeesatz", Ubuntu, Helvetica, Arial, sans-serif;
	font-size: 260%;
	font-weight: bold; 
}
blockquote p:first-line {
    font-weight:bold;
}


#page {
    width:712px;
    margin-left: 128px;
}

.in_progress {
    background:#fff url(../img/in_progress.png);
}
#nav {
    margin:0;
    text-align:left;
    position:fixed;
    left: 0;
    top: 6px;
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
    opacity: 0.5;
    height: 100%;
    -moz-transition: opacity 0.5s ease-in;
    -webkit-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
}

#nav:hover {
    opacity:1.0;
}

#nav a {
    text-align:left;
    display:block;
    border:none;
    font-size: 13px;
    line-height:22px;
    background: #f0f0f5;
    color:#333;
    padding:0 6px 0 8px;
    margin:2px 0px;
}
#nav img { margin:3px;border-radius:5px; }
#nav .spacer {
}
#nav a:hover {
    background-color:#333;
    color:#fff;
}



#header {
    text-align:left;
    font-family:"Yanone Kaffeesatz", Ubuntu, Helvetica, Arial, sans-serif;
    color:#444;
}

#header  a{
    color:#40a2ff;
}
#header  a:hover {
    text-decoration:none;
}
#header h1 {
}
#sitename h1{
    margin:0px;
    padding:0;
    font-size: 32px;
}
#sitename h1 a{
    color:#ddd;
    border:none;
}

#sidebar {
    position:absolute;
}

#content {
    font-family: "Gentium Basic", Gentium, Palatino, Georgia, serif;
    padding-left:13px;
}

#index {
    margin:20px 0;
}

#index .entry {
    margin-bottom:24px;
}

#index .entry h3 {
    margin:0;
    color:#555;
}

#index .entry h2 {
    border-bottom:1px solid #e1d1c1;
    margin:0;
    font-weight:bold;
    font-size:28px;
    line-height:42px;
}

#index .entry .summary {
    margin:0px;
}

#index .entry p {
}

#index .entry .published {
    font-family:"Yanone Kaffeesatz", Ubuntu, Helvetica, Arial, sans-serif;
    padding-right:23px;
    font-size:14px;
    float:left;
}

#index .entry .meta {
    clear:both;
    height:35px;
}

#index .entry .meta .link-url{
    font-style:italic;
    float:left;
}

#index .entry .meta .permalink{
    font-family:"Yanone Kaffeesatz", Ubuntu, Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-align:center;
    float:right;
}
#index .entry .meta .permalink a{
    text-decoration:none;
    display:block;
    margin:5px 10px;
    width:25px;
    border-radius:5px;
}

#index .entry .meta .permalink a:hover {
    background-color:#222;
    color:#fff;
}

.entry-full .meta .source,
#index .entry .meta .source{
}

.entry-full .tags,
#index .entry .tags{
    font-style:italic;
    float:right;
}

#header .published {
    font-family:"Yanone Kaffeesatz", Ubuntu, Helvetica, Arial, sans-serif;
    font-weight:700;
    text-align:left;
    margin-top:18px;
    margin-bottom:-22px;
    border-bottom:1px solid #444;
}

#header .published a { color:#444;}

.tags {
    text-align:right;
    font-style:italic;
}

#footer {
    text-align:center;
    margin-top: 10px;
    font-size:13px;
    line-height: 20px;
    color:#444;
}

#comments {
    font-size:16px;
    font-style:italic;
    padding: 0px 20px;
    margin-top:30px;
}

h1.tag_name img {
    margin:0;
}

a.tag_feed_icon {
    margin-top:25px;
}


div.popup .content .image img {
    max-width:100%;
}

#about {
    display:none;
}

#about_me {
    width:621px;
}
#about_me p {
    margin-top: 0px;
}
#about_me img.me {
    border: 3px solid #aaa;
    margin:8px 0 0;
}

#about_me label{
background: none repeat scroll 0 0 #AAAAAA;
color: #444444 !important;
font-family: "Yanone Kaffeesatz",Ubuntu,Helvetica,Arial,sans-serif;
font-size: 14px;
font-weight: bold;
padding: 2px 6px;
position: relative;
top: -270px;
}


.codehilite {
    background: #002B36 url(../img/code_top_bg.png) repeat-x !important;
    padding:40px 10px 20px 20px;
    border-radius: 0 0 5px 5px;
    line-height:0.78em;
    overflow:auto;
    font-size:0.9em !important;
    border-radius: 5px;
    max-width: 99%;
    margin: -15px auto auto;
}

.tipsy {
    font-family:Ubuntu, Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.published a {
    color:#444;
}

.published a:hover {
    color:#2760BF; 
}

#underpost {
    font-size: 0.85em;
    margin-top: 120px;
}
