body { margin:0;}
img{border: medium none;}
#home_top { margin:auto;height:35px; background-image:url(../../images/head_top_bg.gif); font-size:12px;}
#home_top .top_nav { margin:auto;width:960px; height:35px; font-size:12px;}
#home_top .top_nav .left { width:350px; float:left; text-align:left; color:#696969; margin-top:5px;}
#home_top .top_nav .left a{ padding:2px;color:#696969;text-decoration: none;}
#home_top .top_nav .left a:hover{ text-decoration:none;background:#4A4A4A; color:#FFFFFF;}
#home_top .top_nav .left li { float:left;}

#home_top .top_nav .right { float:right; color:#696969; text-align:right;width:470px;}

#home_top .top_nav .right .login {  color:#696969;text-align:right; margin-right:6px; float:right;}
#home_top .top_nav .right .login a{ color:#005FAB;text-decoration: none; padding:2px; margin-left:2px; margin-right:2px; margin-top:5px; text-decoration: underline; text-align:right;}
#home_top .top_nav .right .login a:hover{ padding:2px;text-decoration:none;background:#4A4A4A; color:#FFF;}

#home_top .top_nav .right .login2 { color:#696969;text-align:right; float:right; margin-right:6px;}
#home_top .top_nav .right .login2 a{ color:#005FAB;text-decoration: none; padding:2px; margin-left:2px; margin-right:2px; margin-top:5px; text-decoration: underline;}
#home_top .top_nav .right .login2 a:hover{ padding:2px;text-decoration:none;background:#4A4A4A; color:#FFF;}

#home_top .top_nav .right .more { float:right;padding:8px 0 3px 0; color:#696969;text-decoration: none;}
#home_top .top_nav .right .more a{ padding:2px;color:#696969;text-decoration: none;}
#home_top .top_nav .right .more a:hover{ padding:2px;text-decoration:none;background:#4A4A4A; color:#FFF;}







.subMenu1 {width:70px;border:1px solid #CECECE;text-align:center;position: absolute;display:none;background-color:#FFFFFF;z-index:1000;}

.subMenu2 {width:110px;border:1px solid #CECECE;text-align:center;position: absolute;display:none;background-color:#FFFFFF;z-index:1000;}

.subMenu3 {width:60px;border:1px solid #CECECE;	text-align:center;position: absolute;display:none;background-color:#FFFFFF;z-index:1000;}

.subMenu4 {
	width:60px;
	border:1px solid #CECECE;
	padding:0px 4px 0px 4px;
	text-align:center;
	position: absolute;
	left: 883px;
	top: 116px;
	display:none;
	background-color:#FFFFFF;
}

.subMenu1 a{ padding-left:10px; line-height:24px; text-align:left; display:block; height:20px; padding-top:1px;color:#000000;text-decoration: none; }
.subMenu1 a:hover{ text-decoration:none;background:#EBEBEB; background-repeat:no-repeat; color:#CC0000;}
.subMenu1 ul {margin:0;padding:0;}
.subMenu1 li {padding:0px;list-style:none;padding-top:1px; font-size:12px;background-color:#FFFFFF;}

.subMenu2 a{ padding-left:10px; line-height:24px; text-align:left; display:block; height:24px; padding-top:1px;color:#000000;text-decoration: none; }
.subMenu2 a:hover{ text-decoration:none;background:#EBEBEB; background-repeat:no-repeat; color:#CC0000;}
.subMenu2 ul {margin:0;padding:0;}
.subMenu2 li {padding:0px;list-style:none;padding-top:1px; font-size:12px;background-color:#FFFFFF;}

.subMenu3 a{ padding-left:10px; line-height:24px; text-align:left; display:block; height:24px; padding-top:1px;color:#000000;text-decoration: none; }
.subMenu3 a:hover{ text-decoration:none;background:#EBEBEB; background-repeat:no-repeat; color:#CC0000;}
.subMenu3 ul {margin:0;padding:0;}
.subMenu3 li {padding:0px;list-style:none;padding-top:1px; font-size:12px;background-color:#FFFFFF;}

.subMenu4 a{ line-height:18px; text-align:left; display:block; width:53px; height:17px; padding-top:1px;color:#000;text-decoration: none;}
.subMenu4 a.lcnew{text-decoration: none;}
.subMenu4 a:hover{ text-decoration:none;background-image:url(http://images.51cto.com/images/art/images/nav_bg1.gif); background-repeat:no-repeat; color:#C00;}
.subMenu4 ul {margin:0;padding:0;}
.subMenu4 li {list-style:none;background:url(http://images.51cto.com/images/art/images/dt.gif) no-repeat left; padding-left:8px; padding-top:1px; font-size:12px;}